# Ignore virtual environment folders
.venv/
.venv1/
venv/

# Ignore PyCharm IDE files
.idea/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env

# Ignore log files
*.log
